In [5]:
import pandas as pd
import re
import emoji

In [33]:
# Load your reviews CSV file
df = pd.read_csv("../Data/BOA.csv")  # Adjust your filename

In [34]:
# Function to clean each review
def clean_text(text):
    if pd.isnull(text):
        return ""
    
    # Remove emojis
    text = emoji.replace_emoji(text, replace='')  # removes all emojis
    
    # Remove non-ASCII characters (Amharic, etc.)
    text = re.sub(r'[^\x00-\x7F]+', ' ', text)
    
    # Remove non-alphanumeric characters (except basic punctuation)
    text = re.sub(r'[^a-zA-Z0-9\s.,!?\'"-]', ' ', text)
    
    # Normalize whitespace
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

In [35]:
# Apply cleaning
df['cleaned_review'] = df['review_text'].apply(clean_text)

In [36]:
# Move 'date' column to the first position
cols = df.columns.tolist()
cols.insert(0, cols.pop(cols.index('date')))
df = df[cols]

In [37]:
df.head()

,date,review_text,rating,bank_name,source,cleaned_review
0,2025-06-09,the worst app humans ever created,1,Bank of Abyssinia,Google Play,the worst app humans ever created
1,2025-06-05,it's not working,3,Bank of Abyssinia,Google Play,it's not working
2,2025-06-03,"Hello, I’m facing a problem with the BOA Mobil...",1,Bank of Abyssinia,Google Play,"Hello, I m facing a problem with the BOA Mobil..."
3,2025-06-03,exceptional,5,Bank of Abyssinia,Google Play,exceptional
4,2025-06-02,BoA Mobile good bank,5,Bank of Abyssinia,Google Play,BoA Mobile good bank

In [38]:
# Show example cleaned output
df[['review_text', 'cleaned_review']].head()

,review_text,cleaned_review
0,the worst app humans ever created,the worst app humans ever created
1,it's not working,it's not working
2,"Hello, I’m facing a problem with the BOA Mobil...","Hello, I m facing a problem with the BOA Mobil..."
3,exceptional,exceptional
4,BoA Mobile good bank,BoA Mobile good bank

In [39]:
# Save cleaned results
df.drop(columns=['review_text', 'bank_name', 'source']).to_csv("../data/BOA_cleaned.csv", index=False)