In [48]:
import pandas as pd
import re
import emoji

In [56]:
# Load your reviews CSV file
df = pd.read_csv("../Data/Dashen Bank.csv")  # Adjust your filename

In [57]:
# Function to clean each review
def clean_text(text):
    if pd.isnull(text):
        return ""
    
    # Remove emojis
    text = emoji.replace_emoji(text, replace='')  # removes all emojis
    
    # Remove non-ASCII characters (Amharic, etc.)
    text = re.sub(r'[^\x00-\x7F]+', ' ', text)
    
    # Remove non-alphanumeric characters (except basic punctuation)
    text = re.sub(r'[^a-zA-Z0-9\s.,!?\'"-]', ' ', text)

    # Keep only letters and whitespace
    text = re.sub(r'[^a-zA-Z\s]', ' ', text)
    
    # Normalize whitespace
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

In [58]:
# Apply cleaning
df['cleaned_review'] = df['review_text'].apply(clean_text)

In [59]:
# Move 'date' column to the first position
cols = df.columns.tolist()
cols.insert(0, cols.pop(cols.index('date')))
df = df[cols]

In [60]:
df.head()

,date,review_text,rating,bank_name,source,cleaned_review
0,2025-06-09,this app is good for you guys,5,Dashen Bank,Google Play,this app is good for you guys
1,2025-06-09,wow,5,Dashen Bank,Google Play,wow
2,2025-06-08,kalid,5,Dashen Bank,Google Play,kalid
3,2025-06-07,I like this mobile banking app very much. Over...,2,Dashen Bank,Google Play,I like this mobile banking app very much Overa...
4,2025-06-06,love,3,Dashen Bank,Google Play,love

In [61]:
# Show example cleaned output
df[['review_text', 'cleaned_review']].head()

,review_text,cleaned_review
0,this app is good for you guys,this app is good for you guys
1,wow,wow
2,kalid,kalid
3,I like this mobile banking app very much. Over...,I like this mobile banking app very much Overa...
4,love,love

In [62]:
# Save cleaned results
df.drop(columns=['review_text', 'bank_name', 'source']).to_csv("../data/Dashen_Bank_cleaned.csv", index=False)